@{
    ViewData["Title"] = "О компании";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="mb-4">О компании</h1>
            
            <div class="card mb-4">
                <div class="card-body">
                    <h3>Мебельный Мастер - производство мебели на заказ</h3>
                    <p>Мы работаем на рынке производства мебели с 2010 года. За это время мы создали тысячи уникальных интерьеров для наших клиентов.</p>
                    
                    <h4>Наша миссия</h4>
                    <p>Создавать качественную, функциональную и красивую мебель, которая делает жизнь наших клиентов комфортнее.</p>
                    
                    <h4>Наши преимущества</h4>
                    <ul>
                        <li>Собственное производство</li>
                        <li>Опытная команда мастеров</li>
                        <li>Качественные материалы</li>
                        <li>Индивидуальный подход к каждому клиенту</li>
                        <li>Гарантия на всю продукцию</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>