@{
    ViewData["Title"] = "Услуги";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h1 class="mb-4">Наши услуги</h1>
            
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Проектирование мебели</h4>
                            <p class="card-text">Разработка индивидуальных проектов мебели с учетом ваших пожеланий и особенностей помещения.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Изготовление кухонь</h4>
                            <p class="card-text">Кухонные гарнитуры любой сложности из качественных материалов.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Шкафы-купе</h4>
                            <p class="card-text">Вместительные и функциональные шкафы-купе для любой комнаты.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Гостиные и спальни</h4>
                            <p class="card-text">Комплекты мебели для гостиных и спален в различных стилях.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Офисная мебель</h4>
                            <p class="card-text">Функциональная и эргономичная мебель для офисных помещений.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Доставка и сборка</h4>
                            <p class="card-text">Профессиональная доставка и сборка мебели на месте.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>